<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">
      <ion-text class="header__title__text">
        🚀 Details
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-button color="primary" (click)="goBackToHomePage()">Go back</ion-button>
  <ion-button color="danger" (click)="removeAllCryptoCurrencies()">Clean Wallet</ion-button>
</ion-item>

<ion-content>
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-text [color]="message.color">
        <small>{{ message.description }}</small>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-list class="content" *ngFor="let crypto of cryptoCurrencies">
    <app-detalhes-crypto [cryptoCurrency]="crypto" (removeCryptoEvent)="removeCryptoCurrency($event)">
    </app-detalhes-crypto>
  </ion-list>
</ion-content>
